@font-family: Lato, Helvetica, sans-serif;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  cursor: default;
  -webkit-user-select: none;
  font-family: @font-family;
  overflow: hidden;
  -webkit-app-region: no-drag;
  margin: 0;

  a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
  }

  .main {
    text-align: center;
    -webkit-app-region: drag;
  }
/*
  * {
    transition: all 1s ease;
  }
  */
}

.App {

}
